### List the airlines that operate flights to all available destinations.
**Relevant columns**:
- df1 = flights (flight_id, airline_id, destination_airport_id)
- df2 = airlines (airline_id, airline_name)

In [1]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("SetupTable").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
25/01/31 11:11:27 WARN Utils: Your hostname, DESKTOP-8147UDP resolves to a loopback address: 127.0.1.1; using 172.17.236.223 instead (on interface eth0)
25/01/31 11:11:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/31 11:11:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# Define data for the table
flights_data = [
    (1, 1, 101),
    (2, 1, 102),
    (3, 2, 101),
    (4, 2, 103),
    (5, 3, 101),
    (6, 3, 102),
    (7, 3, 103),
]

airlines_data = [
    (1, "Airline A"),
    (2, "Airline B"),
    (3, "Airline C"),
]

In [9]:
airlines_df = spark.createDataFrame(airlines_data, ["airline_id", "airline_name"])

flights_df = spark.createDataFrame(flights_data, ["flight_id", "airline_id", "destination_airport_id"])

In [10]:
flights_df.show()

+---------+----------+----------------------+
|flight_id|airline_id|destination_airport_id|
+---------+----------+----------------------+
|        1|         1|                   101|
|        2|         1|                   102|
|        3|         2|                   101|
|        4|         2|                   103|
|        5|         3|                   101|
|        6|         3|                   102|
|        7|         3|                   103|
+---------+----------+----------------------+

In [8]:
airlines_df.show()

+----------+------------+
|airline_id|airline_name|
+----------+------------+
|         1|   Airline A|
|         2|   Airline B|
|         3|   Airline C|
+----------+------------+

In [12]:
destination_count = flights_df.select("destination_airport_id").distinct().count()

3

In [21]:
result_df = (flights_df.groupBy("airline_id").count()
             .filter(f"count = {destination_count}")
             .join(airlines_df, "airline_id")
             .drop("count")
)

In [22]:
result_df.show()

+----------+------------+
|airline_id|airline_name|
+----------+------------+
|         3|   Airline C|
+----------+------------+