Assume you had a table of Nagarro employee salary data. Write a SQL query to find the 2nd highest salary at the company.

Nagarro employees Example Input:
employee_id	salary
1	2500
2	800
3	1000
4	1200
Example Output:
second_highest_salary
1200

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType

# Initialize Spark session
spark = SparkSession.builder.appName("EmployeeSalary").getOrCreate()

# Define schema
schema = StructType([
    StructField("employee_id", IntegerType(), True),
    StructField("salary", IntegerType(), True)
])

# Define data
data = [
    (1, 2500),
    (2, 800),
    (3, 1000),
    (4, 1200)
]

# Create DataFrame
df = spark.createDataFrame(data, schema=schema)

your 131072x1 screen size is bogus. expect trouble
25/01/31 17:14:13 WARN Utils: Your hostname, DESKTOP-8147UDP resolves to a loopback address: 127.0.1.1; using 172.31.83.62 instead (on interface eth0)
25/01/31 17:14:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/01/31 17:14:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/01/31 17:14:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
df.createOrReplaceTempView("emp")

In [6]:
df.orderBy("salary", ascending=False).limit(2).orderBy("salary").limit(1).show()

+-----------+------+
|employee_id|salary|
+-----------+------+
|          4|  1200|
+-----------+------+

In [10]:
query = """ 
Select *  from (
select * from emp  order by salary desc  limit 2) t
order by salary limit 1
"""

In [11]:
spark.sql(query).show()

+-----------+------+
|employee_id|salary|
+-----------+------+
|          4|  1200|
+-----------+------+